<div class="container mt-3">
    <h2>Liste des Jobs</h2>


    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <button type="button" class="btn btn-light">
                <th><i class="bi bi-arrow-down-up"></i></th>
            </button>

            <th>Code</th>
            <th>Business Unit</th>
            <th>Client</th>
            <th>Name</th>
            <th>Type</th>
            <th>IsInternal</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>No</td>
            <td>
                <button type="button" class="btn btn-light">
                    <th><i class="bi bi-trash"></i></th>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


