
<mat-toolbar color="primary">
  <button mat-icon-button (click)="mydrawer.toggle()">
    <mat-icon >menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button  mat-button><mat-icon> mail_outline</mat-icon></button>
  <button  mat-button><mat-icon> notifications</mat-icon></button>

  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Profile
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item>voir mon profile</button>
    <mat-divider></mat-divider>

    <button mat-raised-button color="accent"> Logout</button>

  </mat-menu>

  <mat-menu #jobMenu>
    <button mat-menu-item routerLink="/jobs/create">create Job</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/jobs/list">Liste Job</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/jobs/edit">Edit Job</button>
    <mat-divider></mat-divider>
  </mat-menu>


  <mat-menu #userMenu>
    <button mat-menu-item routerLink="/users/create">create User</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/users/list">Liste user</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Edit User</button>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <button mat-menu-item  routerLink="/users/details">detils</button>
    <mat-divider></mat-divider>
  </mat-menu>

  <mat-menu #reportMenu>
    <button mat-menu-item routerLink="/users">create report</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Liste reports</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Edit rapport</button>
    <mat-divider></mat-divider>
  </mat-menu>
  <mat-menu #resourceMenu>
    <button mat-menu-item routerLink="/users">create resource</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Liste resource</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Edit resource</button>
    <mat-divider></mat-divider>
  </mat-menu>

</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #mydrawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/" >

         <mat-icon>home</mat-icon> DashBoard

        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="jobMenu">
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
          <mat-icon>list</mat-icon> Job

        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="reportMenu">
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
          <mat-icon>subject</mat-icon> Reporting

        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="resourceMenu">
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
          <mat-icon>subject</mat-icon> Resource

        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>people</mat-icon>
       <mat-icon iconPositionEnd>arrow_drop_down</mat-icon> Users
      </button>
    </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>people</mat-icon>
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon> Customer
        </button>
      </mat-list-item>
<mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <div style="min-height: 15px;"></div>
    <app-dash-board></app-dash-board>

  </mat-drawer-content>

</mat-drawer-container>


<!--div class="grid-container">


  <div class="item3 mb-4">
    <section class="sect">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reporting">Reporting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resources">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
      </ul>
    </section>
    <router-outlet></router-outlet>
  </div>

  <div class="item5">Footer</div>

</div-->

