
        <!--div class="container mt-3">
            <div class="card">
              <div class="card-header">Information Sur les Resource</div>
              <div class="card-body">
                <form>
                    <div class="row mt-3">
                      <div class="col">
                        <label for="">Encadrement</label>
                        <select class="form-select mt-3">
                            <option>Employè</option>
                            <option>Consultant</option>

                          </select>
                      </div>
                      <div class="col">
                       <label for="">Qualification</label>
                       <select class="form-select mt-3">
                        <option>Dirigent</option>
                        <option>Cadre</option>
                        <option>Apprenant</option>
                        <option>Collaborateur</option>
                        <option>Stagiaire</option>
                        <option>Executant</option>
                      </select>
                      </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                          <label for="">Societè</label>
                          <select class="form-select mt-3">
                              <option>CWS S.r.l</option>
                              <option>SYN-ET S.l</option>

                            </select>
                        </div>
                        <div class="col">
                         <label for="">Business Unit</label>
                         <select class="form-select mt-3">
                          <option>SOO7- ICT</option>
                          <option>S008-INFRA</option>
                          <option>SOO9-HR</option>
                          <option>S010-IT FINANCE</option>
                          <option>S011-BUREAU D'ACHAT</option>
                          <option>S012-BANKING</option>
                        </select>
                        </div>
                      </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="col">
                                <label for="">SuperViseur</label>
                                <select class="form-select mt-3">
                                 <option>Barry Alpha</option>
                                 <option>Marco Mancini</option>
                                 <option>Adama Dioulde</option>
                                 <option>Barry Aissatou</option>
                                 <option>Keita Oury</option>
                                 <option>Camara Fatou</option>
                               </select>
                               </div>
                        </div>
                        <div class="col">
                            <label for="">Niveau D'etude</label>
                          <input type="email" class="form-control" placeholder="Enter Diplome " name="mail">
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-6">
                            <label for="">DATE PATRONA</label>
                          <input type="date" class="form-control" placeholder="patron Date" name="pdate">
                        </div>
                        <div class="col">

                        </div>

                      </div>
                  </form>
              </div>
              <div class="card-footer">
                <div class="row mt-3">
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    </div>
                </div>
              </div>
            </div>
          </div-->
        <div class="container mt-3">
          <mat-card>
            <mat-card-header>Information Sur les Resource</mat-card-header>
            <mat-card-content>
              <form>
                <div class="row mt-3">
                  <div class="col">
                    <mat-form-field class="mat-form-field">
                      <mat-label>Encadrement</mat-label>
                      <mat-select class="form-select mt-3">
                        <mat-option>Employè</mat-option>
                        <mat-option>Consultant</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="mat-form-field">
                      <mat-label>Qualification</mat-label>
                      <mat-select class="form-select mt-3">
                        <mat-option>Dirigent</mat-option>
                        <mat-option>Cadre</mat-option>
                        <mat-option>Apprenant</mat-option>
                        <mat-option>Collaborateur</mat-option>
                        <mat-option>Stagiaire</mat-option>
                        <mat-option>Executant</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col">
                    <mat-form-field class="mat-form-field">
                      <mat-label>Societè</mat-label>
                      <mat-select class="form-select mt-3">
                        <mat-option>CWS S.r.l</mat-option>
                        <mat-option>SYN-ET S.l</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="mat-form-field">
                      <mat-label>Business Unit</mat-label>
                      <mat-select class="form-select mt-3">
                        <mat-option>SOO7- ICT</mat-option>
                        <mat-option>S008-INFRA</mat-option>
                        <mat-option>SOO9-HR</mat-option>
                        <mat-option>S010-IT FINANCE</mat-option>
                        <mat-option>S011-BUREAU D'ACHAT</mat-option>
                        <mat-option>S012-BANKING</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col">
                    <mat-form-field class="mat-form-field">
                      <mat-label>SuperViseur</mat-label>
                      <mat-select class="form-select mt-3">
                        <mat-option>Barry Alpha</mat-option>
                        <mat-option>Marco Mancini</mat-option>
                        <mat-option>Adama Dioulde</mat-option>
                        <mat-option>Barry Aissatou</mat-option>
                        <mat-option>Keita Oury</mat-option>
                        <mat-option>Camara Fatou</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="mat-form-field">
                      <input matInput placeholder="Niveau D'etude" name="niveauEtude">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-6">
                    <mat-form-field class="mat-form-field">
                      <input matInput type="date" placeholder="DATE PATRONA" name="datePatrona">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <!-- Empty column -->
                  </div>
                </div>
              </form>
            </mat-card-content>
            <mat-card-footer class="mat-card-footer">
              <div class="row mt-3">
                <div class="col">
                  <button mat-raised-button class="mat-raised-button" color="primary" type="submit">Secondary</button>
                </div>
              </div>
            </mat-card-footer>
          </mat-card>
        </div>


