<div class="row">
  <div class="col-4">
    <div class="list-group">

      <a routerLink="/jobs/create" class="list-group-item list-group-item-action">Create Job</a>
      <a routerLink="/jobs/list" class="list-group-item list-group-item-action">Liste Job</a>
      <a routerLink="#" class="list-group-item list-group-item-action">Stats Job</a>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Gestion des Jobs
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

