<button id="btn-burger">
  <span></span>
  <span></span>
  <span></span>
</button>
<nav>
  <div id="logo-container">
    <a href="#"> <img src="./assets/images/logo2.png" alt=""  width="50px" height="50px" class="rounded-circle mr-auto"> </a>
  </div>
  <a href="#" class="lien1"><i class="bi bi-house"></i> Accueil</a>
  <hr/>
  <a routerLink="/users" class="lien2"><i class="bi bi-people-fill"></i> USER</a>
  <hr/>
  <a routerLink="/resources" class="lien3"><i class="bi bi-file-check"></i> RESOURCE</a>
  <hr/>
  <a routerLink="/reporting" class="lien4"><i class="bi bi-card-checklist"></i> REPORTING</a>
  <hr/>
  <a routerLink="/jobs" class="lien5"><i class="bi bi-pc-display-horizontal"></i> JOB</a>
  <hr/>
</nav>
