<div class="row">
  <div class="col-4">
    <div class="list-group">

      <a routerLink="/reporting/create" class="list-group-item list-group-item-action">Create Report</a>
      <a routerLink="/reporting/list" class="list-group-item list-group-item-action">Liste Reports</a>
      <a routerLink="/reporting/request/new" class="list-group-item list-group-item-action">Request</a>
      <a routerLink="/reporting/request/list" class="list-group-item list-group-item-action">Liste Request</a>
      <a routerLink="#" class="list-group-item list-group-item-action">Stats Report</a>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Gestion des Reporting
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

