.full-width {
  width: 100%;
}

/* Style pour aligner les éléments de la navigation par miettes de pain à la fin */
.mat-breadcrumb {
  display: flex;
  justify-content: end;

}
.mat-breadcrumb li{
 list-style: none;
}
.mat-breadcrumb a{
 text-decoration: none;
  padding-left: 10px;
}

/**body {
    background-color: #2c3e50;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
input {
    display: block;
    margin: 30px auto;
    padding: 15px;
    background: none;
    border-radius: 25px;
    outline: none;
    width: 60%px;
    text-align: center;
}
::placeholder {
    color: #ecf0f1;
}
input[type="text"], input[type="password"] {
    border: 3px solid #ecf0f1;
    transition: 0.2s;
    color: #ecf0f1;
    font-weight: bolder;
}
input[type="text"]:focus, input[type="password"]:focus {

    border-color:#f39c12;
    color: #2c3e50;
}
button[type="submit"] {
    border: 2px solid #f39c12;
    color: #f39c12;
    font-size: 19px;
    cursor: pointer;
    transition: 0.5s;

}
button[type="submit"]:hover {
    background-color: #f39c12;
    color:#ecf0f1;
}
#box {
    width: 80%;
    background-color: rgb(13, 12, 15);
    text-align: center;
    padding: 40px;
    border-radius: 25px;
}
h1 {
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 12px;
}
h1 span {
    display: block;
    letter-spacing: 7px;
    color: #2c3e50;
    margin-bottom: 50px;
}
.font-weight-bold{
    font-weight: bolder;
    font-size: larger;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
*/
