<div class="container mt-3">
 
    <div class="card">
      <div class="card-header">Header</div>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Encadrement</th>
                <th>RAL</th>
                <th>Extra</th>
                <th>Welfare</th>
                <th>Prime</th>
                <th>Lastname</th>
                <th>Auto</th>
                <th>Attivitè</th>
                <th>Cout Extra</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>johnexample.com</td>
              
                <td>Mary</td>
                <td>Moe</td>
                <td>maryexample.com</td>
              
                <td>July</td>
                <td>Dooley</td>
                <td>julyexample.com</td>
                <td>julyexample.com</td>
              </tr>
            </tbody>
          </table>
      </div> 
      <div class="card-footer">Footer</div>
    </div>
  </div>