
<div class="container mt-3">
    <h2>Statistiques de l'employé</h2>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="primary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon class="large-icon">calendar_today</mat-icon> Nombre De Jours Travaillés</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="large-text">54</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="primary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon class="large-icon">work_outline</mat-icon> Extraordinaire Effectué</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="large-text">0</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="secondary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon class="large-icon">flight</mat-icon> Nombre Heures De Voyage</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="large-text">9</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <mat-card class="secondary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon class="large-icon">block</mat-icon> Absence</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="large-text">6</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="primary-card">
                <mat-card-header>
                    <mat-card-title><mat-icon class="large-icon">build</mat-icon> Jobs</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="large-text">89</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
